build/
install/
log/
.cache/
videos/
label_upload/
.sisyphus/

# model binaries
models/*.onnx
models/*.engine

# python
__pycache__/
*.pyc

# IDE
.vscode/
.idea/
*.swp
*.swo
models/*.pt
.script/.config-path
calib_records*.csv
hit_calib_records*.csv
calib_all.csv
calib_merged.csv
extrinsics_group1.txt
build_nogt/
